.App {
  text-align: center;
}

.AppBar {
  margin-bottom: 20px;
}

.Paper {
  margin-bottom: 20px;
  padding: 20px;
}

.ListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}